extends layout

block content

	img.flag(src='/img/flag_top.svg')

	main
		header
			h1 Presidential Penis Poll
			h2 Which presidential candidate has the biggest penis?
			h2 Donald Trump claims in&nbsp;
				a(href='https://www.youtube.com/watch?v=nALb4lEbSbA' target='_blank') this Republican Debate
				&nbsp;that he might be the one.
			h2
				| What do you think?
				| Vote Now.
			img.stars(src='/img/stars.svg')
			.info
				div
					p Up to date results
					p
						span#numberOfVotes
						| &nbsp;respondents
				a.transparent-white#takePoll Take The Poll
			.vote
				h2 Your vote:

		#chart
			section
				h2 Donald Trump
				.container
					.pic.r(style="background: url('/img/bernie.jpg');")
					.penis#Donald_Trump
						.shaft
						.head

			section
				h2 John Kasich
				.container
					.pic.r(style="background-image: url('/img/bernie.jpg');")
					.penis#John_Kasich
						.shaft
						.head

			section
				h2 Marco Rubio
				.container
					.pic.r(style="background-image: url('/img/bernie.jpg');")
					.penis#Marco_Rubio
						.shaft
						.head

			section
				h2 Ted Cruz
				.container
					.pic.r(style="background-image: url('/img/bernie.jpg');")
					.penis#Ted_Cruz
						.shaft
						.head

			section
				h2 Hillary Clinton
				.container
					.pic.r(style="background-image: url('/img/bernie.jpg');")
					.penis#Hillary_Clinton
						.shaft
						.head

			section
				h2 Bernie Sanders
				.container
					.pic.r(style="background-image: url('/img/bernie.jpg');")
					.penis#Bernie_Sanders
						.shaft
						.head

		.button.submit.hide.absolute
			a.transparent-white#submitPoll Submit Poll

		footer
			p Results ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

		.overlay#overlay
				.container
					img(src='/img/key.svg')
					.button
						a.transparent-white Continue

	img.flag(src='/img/flag_bottom.svg')
