extends layout

block content
	div
		#chart
			.penis#Donald_Trump
				.shaft
				.head
			br
			.penis#John_Kasich
				.shaft
				.head
			br
			.penis#Marco_Rubio
				.shaft
				.head
			br
			.penis#Ted_Cruz
				.shaft
				.head
			br
			.penis#Hillary_Clinton
				.shaft
				.head
			br
			.penis#Bernie_Sanders
				.shaft
				.head