extends layout

block content
	div
		#chart
			.penis#Donald_Trump
			br
			.penis#John_Kasich
			br
			.penis#Marco_Rubio
			br
			.penis#Ted_Cruz
			br
			.penis#Hillary_Clinton
			br
			.penis#Bernie_Sanders
