extends layout

block content

	img.flag(src='/img/flag_top.svg')

	main
		header
			h1 Presidential Penis Poll
			h2 Which presidential candidate has the biggest penis?
			h2 Donald Trump claims in&nbsp;
				a(href='https://www.youtube.com/watch?v=nALb4lEbSbA' target='_blank') this Republican Debate
				&nbsp;that he might be the one.
			h2
				| What do you think?
				| Vote Now.
			img.stars(src='/img/stars.svg')
			.info
				div
					p Up to date results
					p
						span#numberOfVotes
						| &nbsp;respondents
				a.transparent-white#takePoll take the poll
			.vote
				h2 Your vote:

		#chart
			.penis#Donald_Trump
				.shaft
				.head
			br
			.penis#John_Kasich
				.shaft
				.head
			br
			.penis#Marco_Rubio
				.shaft
				.head
			br
			.penis#Ted_Cruz
				.shaft
				.head
			br
			.penis#Hillary_Clinton
				.shaft
				.head
			br
			.penis#Bernie_Sanders
				.shaft
				.head

		.button.submit.hide.absolute
			a.transparent-white#submitPoll Submit Poll

		footer
			p Results ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

		.overlay#overlay
				.container
					img(src='/img/key.svg')
					.button
						a.transparent-white continue

	img.flag(src='/img/flag_bottom.svg')
