extends layout

block content
	div
		img.flag(src='/img/flag_top.svg')

		header
			h1 How large is each canidate's penis?
			img.stars(src='/img/stars.svg')
			.info
				div
					p Up to date results
					p
						span xxxxxxxx
						| &nbsp;respondents
				a.transparent-white take the poll

		#chart
			.penis#Donald_Trump
				.shaft
				.head
			br
			.penis#John_Kasich
				.shaft
				.head
			br
			.penis#Marco_Rubio
				.shaft
				.head
			br
			.penis#Ted_Cruz
				.shaft
				.head
			br
			.penis#Hillary_Clinton
				.shaft
				.head
			br
			.penis#Bernie_Sanders
				.shaft
				.head

		footer
			p Results ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

		img.flag(src='/img/flag_bottom.svg')
