extends layout

block content
	#fb-root
	script(src="/js/fb.js" type="text/javascript")
	script(src="/js/twitter.js" type="text/javascript")

	img.flag(src='/img/flag_top.svg')

	main
		header
			h1 Presidential Penis Poll
			h2 Which presidential candidate has the biggest penis?
			h2 Donald Trump claims in&nbsp;
				a(href='https://www.youtube.com/watch?v=nALb4lEbSbA' target='_blank') this Republican Debate
				&nbsp;that he might be the one.
			h2
				| What do you think?
				| Vote Now.
			img.stars(src='/img/stars.svg')
			.info
				div
					p Up to date results
					p
						span#numberOfVotes
						| &nbsp;respondents
				a.transparent-white.takePoll Take The Poll
			.vote
				h2 Your vote:

		#chart
			.grid
			section
				h2 Donald Trump
				.container
					.pic.r(style="background-image: url('/img/omg.jpg');")
					.penis#Donald_Trump(touch-action="none")
						.grid
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
						.shaft
						.head
							.number

			section
				h2 Hillary Clinton
				.container
					.pic.d(style="background-image: url('/img/hillary.jpg');")
					.penis#Hillary_Clinton(touch-action="none")
						.grid
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
						.shaft
						.head
							.number

			section
				h2 Bernie Sanders
				.container
					.pic.d(style="background-image: url('/img/bernie.jpg');")
					.penis#Bernie_Sanders(touch-action="none")
						.grid
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
						.shaft
						.head
							.number

			section
				h2 Ted Cruz
				.container
					.pic.r(style="background-image: url('/img/cruz.jpg');")
					.penis#Ted_Cruz(touch-action="none")
						.grid
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
						.shaft
						.head
							.number



			section
				h2 John Kasich
				.container
					.pic.r(style="background-image: url('/img/john.jpg');")
					.penis#John_Kasich(touch-action="none")
						.grid
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
						.shaft
						.head
							.number

			section
				h2 Marco Rubio
				.container
					.pic.r(style="background-image: url('/img/rubio.jpg');")
					.penis#Marco_Rubio(touch-action="none")
						.grid
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
							div
						.shaft
						.head
							.number

		.hold-buttons
			.button.bottomPoll.absolute
				a.transparent-white.takePoll Take The Poll
			.button.submit.hide.absolute
				a.transparent-white#submitPoll Submit Poll

		.social
			a.twitter-share-button(href='https://twitter.com/share', data-url='http://presidentialpenis.com/', data-hashtags='presidentialPenis') Tweet
			.fb-share-button(data-href='http://presidentialpenis.com', data-layout='button_count')

		footer
			p This poll was created by the team at <a href="http://4real.io" target="_blank">4REAL</a> with help from <a href="http://phillipfivel.com" target="_blank"/>Phillip Fivel Nessen</a> and <a href="https://twitter.com/tomgalle" target="_blank">Tom Galle</a>

		.overlay#overlay
				.container
					img(src='/img/key.svg')
					.button
						a.transparent-white Continue

	img.flag(src='/img/flag_bottom.svg')
