extends layout

block content

	img.flag(src='/img/flag_top.svg')

	main
		header
			h1 Which presidential candidate has the biggest penis?
			h1 Donald Trump claims in this Republican Debate that he might be the one.
			h1
				| What do you think?
				| Vote Now.
			img.stars(src='/img/stars.svg')
			.info
				div
					p Up to date results
					p
						span#numberOfVotes
						| &nbsp;respondents
				a.transparent-white take the poll

		#chart
			.penis#Donald_Trump
				.shaft
				.head
			br
			.penis#John_Kasich
				.shaft
				.head
			br
			.penis#Marco_Rubio
				.shaft
				.head
			br
			.penis#Ted_Cruz
				.shaft
				.head
			br
			.penis#Hillary_Clinton
				.shaft
				.head
			br
			.penis#Bernie_Sanders
				.shaft
				.head

		footer
			p Results ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

	img.flag(src='/img/flag_bottom.svg')
