doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta(property='og:description', content='Which presidential candidate has the biggest penis?')
    meta(property='og:title', content='Presidential Penis Poll')
    meta(property='og:image', content='/img/fb.jpg')
    meta(property='og:type', content='article')
    meta(property='og:url', content='http://presidentialpenis.com')
    meta(property='og:site_name', content='Presidential Penis Poll')
    meta(name="twitter:card" content="/img/fb.jpg")
    meta(name="twitter:title" content="Title")
    meta(name="twitter:description" content="Description")
    meta(name="twitter:image" content="/img/fb.jpg")

    title Presidential Penis Poll

    //- block css
      //- link(rel='stylesheet', href='/css/style.css')
    block js
      script(src="bundle.js")

  body()
    block content