/*@font-face {
    font-family: NuMu;
    src: url(/fonts/numu1.woff);
}
@font-face {
    font-family: NuMu Bold;
    src: url(/fonts/numu2.woff);
}*/

$blue: rgb(0, 82, 165);

* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-size: 10px;
}
body {
  font: 14px "Georgia", serif;
  background-color: $blue;
  color: white;
  font-family: Helvetica, sans-serif;
}
a {
  color: #00B7FF;
  text-decoration: none;
}
.penis {
  display: inline-block;
  height: 10vh;
  width: 100%;
  background-color: white;
  margin: 0 0 0.5vh 0;
}
.flag, .stars {
  display: block;
}
.stars {
  width: 100%;
  padding: 2em;
}
header {
  width: 100%;
  padding: 2em;

  h1 {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 2em;
  }
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p, a {
      color: white;
      font-family: Helvetica, sans-serif;
    }
  }
}
.transparent-white {
    border: 2px solid white;
    padding: 0.35em 1.5em;
}
footer {
  width: 100%;
  padding: 2em;
  p {
    color: white;
    font-family:
  }
}


















