
/*@font-face {
    font-family: NuMu;
    src: url(/fonts/numu1.woff);
}
@font-face {
    font-family: NuMu Bold;
    src: url(/fonts/numu2.woff);
}*/

$blue: rgb(0,82,165);

html, body {
  height: 100%;
  font-size: 10px;
}
body{
  font: 14px "Georgia", serif;
  /*background: red;*/
  background-color: $blue;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.penis{
  display:inline-block;
  height:5em;
  cursor:pointer;
}
.shaft{
  display:inline-block;
  width:30em;
  height:100%;
  background-color:white;
}
.head{
  display:inline-block;
  width:10em;
  height:100%;
  background-color:grey;
}


